.custom_card{
  width: 35%;
  float:left;
  margin: 0 1.5em 0 1.5em;
  text-align: center;

}

.container{
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.container-item{
  display: inline-block;
}

.heading{
  text-align: center;
}
label {
  font-size: 1.7em;
}
.formContainer {
  width: 40rem;
  font-size: 2em;
  margin: 0 auto;

}
input {
  text-align: center;
}
